# Archivos de compilación
**/bin/
**/obj/
*.exe
*.dll
*.pdb
*.cache
*.tmp
*.bak
*.log
*.mdb

# Archivos de configuración locales
*.user
*.suo
*.vspscc
*.vssscc

# IDEs
.vscode/
.idea/

# Artifacts y lock files de dotnet
artifacts/
project.lock.json
project.fragment.lock.json
project.assets.json
project.nuget.cache
*.nuget.dgspec.json

# Archivos generados por el compilador
*.AssemblyInfo.cs
*.CoreCompileInputs.cache
*.sourceinfo.json
*.sourcelink.json
*.ref/
*.refint/

# Otros
*.dbmdl
*.sln.docstates
