# Build results
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.mdb
*.log
*.tmp
*.bak
*.vspscc
*.vssscc

# Rider y VS Code
.vscode/
.idea/

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Otros
*.dbmdl
*.sln.docstates
